<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="loginForm" class="sign-in-form" (submit)="onLogin()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="email"
               type="email"
               autocomplete="username email"
               data-test-id="login-email">
      </mat-form-field>

      <app-password formControlName="password" [showHints]="false"></app-password>

      <button mat-raised-button
              color="primary"
              type="submit"
              *ngIf="!($loading | async); else loadingBarRef"
              [disabled]="loginForm.invalid">
        Login
      </button>

      <ng-template #loadingBarRef>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-template>

    </form>
  </mat-card-content>

</mat-card>
