<mat-card>
  <mat-card-header>
    <mat-card-title>Reset Password</mat-card-title>
    <mat-card-subtitle *ngIf="newUser">
      A new password is required, please provide one below.
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="resetPasswordForm" class="reset-password-form" (submit)="onResetPassword()">
      <mat-form-field [style.display]="!newUser ? null : 'none'">
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="email"
               type="email"
               autocomplete="username email"
               data-test-id="login-email">
      </mat-form-field>


      <app-password formControlName="password" [showHints]="true" autocomplete="new-password"></app-password>

      <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid">Reset Password
      </button>
    </form>
  </mat-card-content>

</mat-card>
